In [0]:
import pandas as pd

business_dataset = pd.read_json('yelp_academic_dataset_business.json', lines=True)
business_dataset.head()

              business_id  ...                                              hours
0  f9NumwFMBDn751xgFiRbNA  ...  {'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'...
1  Yzvjg0SayhoZgCljUJRF9Q  ...                                               None
2  XNoUzKckATkOD1hP6vghZg  ...                                               None
3  6OAZjbxqM5ol29BuHsil3w  ...  {'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ...
4  51M2Kk903DFYI6gnB5I6SQ  ...  {'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '...

[5 rows x 14 columns]

In [0]:
check = []
for i in business_dataset['categories']:
  if str(i).find('Restaurants') != -1:
    check.append(True)
  else:
    check.append(False)
filter_dataset = business_dataset[check]
filter_dataset.reset_index(inplace=True)
filter_dataset.head()

   index  ...                                              hours
0      8  ...  {'Monday': '11:30-14:30', 'Tuesday': '11:30-14...
1     20  ...                                               None
2     24  ...  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...
3     25  ...                                               None
4     30  ...  {'Tuesday': '12:0-21:0', 'Wednesday': '12:0-21...

[5 rows x 15 columns]

In [0]:
business_dataset.shape, filter_dataset.shape

((209393, 14), (63944, 15))

In [0]:
filter_dataset = filter_dataset.loc[:,['business_id','stars']]

In [0]:
filter_dataset.shape

(63944, 2)

In [0]:
# business_id = set(rest_dataset['business_id'].values)
mapping_dataset = filter_dataset['business_id']
mapping_dataset.head()

0    pQeaRpvuhoEqudo3uymHIQ
1    CsLQLiRoafpJPJSkNX2h5Q
2    eBEfgOPG7pvFhb2wcG9I7w
3    lu7vtrp_bE9PnxWfA8g4Pg
4    9sRGfSVEfLhN_km60YruTA
Name: business_id, dtype: object

In [0]:
mapping_dataset.to_csv('business_mapping.csv', index=True, index_label="BusinessId")

In [0]:
# business_id = set(rest_dataset['business_id'].values)

business_mean_rating_dataset = pd.DataFrame(columns=['Mean_Ratings'])
business_mean_rating_dataset['Mean_Ratings'] = filter_dataset['stars']
business_mean_rating_dataset.head()

   Mean_Ratings
0           4.5
1           3.0
2           4.5
3           4.5
4           3.0

In [0]:
business_mean_rating_dataset.to_csv('business_mean_rating_dataset.csv', index=True, index_label="BusinessId")

In [0]:
mapping_dataset.shape, business_mean_rating_dataset.shape

((63944,), (63944, 1))

In [0]:
bus_mapping = pd.read_csv('business_mapping.csv')
mean_ratings = pd.read_csv('business_mean_rating_dataset.csv')

In [0]:
print(bus_mapping.head())
print(mean_ratings.head())

   BusinessId             business_id
0           0  pQeaRpvuhoEqudo3uymHIQ
1           1  CsLQLiRoafpJPJSkNX2h5Q
2           2  eBEfgOPG7pvFhb2wcG9I7w
3           3  lu7vtrp_bE9PnxWfA8g4Pg
4           4  9sRGfSVEfLhN_km60YruTA
   BusinessId  Mean_Ratings
0           0           4.5
1           1           3.0
2           2           4.5
3           3           4.5
4           4           3.0

In [0]:
bus_mapping.isnull().values.any()

False

In [0]:
mean_ratings.isnull().values.any()

False

In [0]:
bus_mapping.shape, mean_ratings.shape

((63944, 2), (63944, 2))